header { 
    text-align: center;
}

@font-face {
    font-family: 'fontSalamanca';
    src: url('/assets/fonts/Universitas_Studii_Salamantini.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: darkblue;
    font-family: 'fontSalamanca';
}

#navegacion {
    background-color: ghostwhite;
    color: black;
    text-decoration: none;
    border-color: black;
    border-radius: 5px;
}


.datos_principales {
    display: flex;
    justify-content: space-evenly;
}


h2 {
    color: cornflowerblue;
}


body {
    background-color: azure;
}


section {
    margin: 5%;
}


.habilidades {
    display: flex;
}


.cursos_complementarios{
    margin: 2%;
}


article {
    margin: 5%;
    display: flex;
    justify-content: space-between;
}


.experiencia {
    width: 300px;
}


form {
    text-align: center;
}


.campo {
    margin: 1%;
}


footer {
    text-align: center;
}

