body {
    background-image: url('/assets/img/Hexagonos.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /*background-color: rgb(235, 250, 250)*/
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin: 5%;
}

header { 
    text-align: center;
}

@font-face {
    font-family: 'fontSalamanca';
    src: url('/assets/fonts/Universitas_Studii_Salamantini.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: rgb(16, 86, 111);
    font-family: 'fontSalamanca';
}

.nav-button {
    background-color: ghostwhite;
    color: black;
    border-color: black;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.nav-button a {
    color: inherit;
    text-decoration: none;
}

.nav-button:hover {
    color: azure;
    background-color: teal;
    transform: scale(1.05);
}

a {
    color: rgb(32, 107, 120);
}


.datos_principales {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#gagarin {
    width: 250px;
}


h2 {
    color: cornflowerblue;
    
}


section {
    margin: 5%;
}


.habilidades {
    display: flex;
    justify-content: space-around;
}


.cursos_complementarios{
    margin: 2%;
}


article {
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 30px;
}

#expereiencia-imagen-titulo {
    flex: 1;
}

#experiencia-info {
    flex: 2;
}


h3 {
    text-align: center
}


.experiencia {
    width: 200px;
}


form {
    text-align: center;
    border-style: dashed;
    border-color: teal;
}


.campo {
    margin: 1%;
}


footer {
    text-align: center;
    font-size: 0.8rem;
}

.footer-logo {
    width: 70px;
    height: auto;
}

.footer-logo:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

